*{
  font-family:"Arial", "Karla", serif; ;
  color: black;
}

a:visited,
  Link:visited,
  a:link,
  Link:link {
  float: left;
  display: block;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.nav-top{
  margin: 0px;
}

.nav-menu {
  background-color: rgb(255, 223, 228);
  color: rgb(0, 0, 0);
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  line-height: 200%;

}

.resources-header {
  font-size: 0.7em;

  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
   }

.links {
  border: 1px solid pink;
  background-color: rgb(255, 227, 240);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.links:hover {
  color:rgb(255, 0, 179);
}

.nav-list {
  color: rgb(0, 0, 0);
  font-size: 20px;
  
  
}

.nav-list:hover {
  color:rgb(255, 0, 132);
}  

  

.references-link {
color: black;
}



@media only screen and (max-width: 600px) {
  .nav-menu {
    display: grid;
  }}

  .links {
    align-items: center;
    display: inline;
  }